<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>Resume Analyzer</h1>
    <form action="/process" method="POST" enctype="multipart/form-data">
        <label for="file">Upload Resume:</label>
        <input type="file" name="file" id="file" required><br><br>

        <label for="job-description">Job Description:</label><br>
        <textarea name="job-description" id="job-description" rows="4" cols="50" required></textarea><br><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>
